:root{
    --darkb : #1b0402;
    --orange : #ff7728;
    --orange-blc : #f5ebdc;
    --shadow : 5px 10px 5px rgba(145, 70, 0, 0.3);
    --navColor : linear-gradient(to right, #f5ebdc 5%, rgba(255, 136, 0, 0.9) );
}

html{
    scroll-behavior: smooth;
}


body {
    font-family: 'Flame', sans-serif;

    background-color: #f5ebdc;
   
}

nav{
    position: relative;
    background: var(--navColor);
    box-shadow: var(--shadow);
    height: 80px;
    width: 100%;
}

label.logo{
    color: var(--darkb);
    font-size: 30px;
    line-height: 80px;
    padding: 0 80px;
    letter-spacing: -1px;
    font-weight: 800;
    font-style: italic;
    transition: .2s ease;
    text-shadow: 3px 5px 20px #150029;
}
nav ul{
    float: right;
    margin-right: 80px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;

}

nav ul li a{
    color: var(--darkb);
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 13px;
    text-transform: lowercase;
}

a.active, a:hover{
    background: var(--orange-blc);
    transition: .5s;
}

.checkbtn{
    line-height: 80px;
    font-size: 30px;
    float: right;
    cursor: pointer;
    margin-right: 40px;
    display: display;
}

.checkbtn i{
    color: var(--darkb);
    padding: 5px;
    border-radius: 10px;
    transition: .5s ease;

}

.checkbtn i:hover{
    background: var(--orange-blc);
}

#check{
    display: none;
}


.logoimg{
    margin-top: 20px;
}

.logofooter{
    display: flex;
    justify-content: center;
    
}

.info{
    display: flex;
    justify-content: left;
    align-items: left;
    color: white;
}

p{
    font-weight: bolder;
    font-size: 35px;
    align-items: left;
    margin-left: 50px;
    margin-top: 50px;
    color: #460b04;
}

.intro{
    position: absolute;
    margin-top: 20px;
    margin-left: 100px;
}

.menubtc1{
    margin-top: 100px;
}

.menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.img-1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px;
    transition: transform 0.3s;
}

.img-2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px;
    transition: transform 0.3s;
}

.img-3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px;
    transition: transform 0.3s;
}

.img-1:hover{
    transform: scale(1.08);
}
.img-2:hover{
    transform: scale(1.08);
}
.img-3:hover{
    transform: scale(1.08);
}



.tipo{
    margin-left: 125px;
}
